<div class="topbar">
  <mat-form-field>
    <mat-placeholder><mat-icon>search</mat-icon> Filtrer</mat-placeholder>
    <input matInput>
  </mat-form-field>
  <div class="listActions">
    <button mat-icon-button>
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>


<div class="contactsList">
  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">

    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>

  <mat-card class="contact">
    <div class="contact-contact-name">
      Ahmet Celikbas
    </div>
    <div class="">
    </div>
  </mat-card>


</div>
