.header__container{
  background-image: url("../../../assets/family.jpg");
  height: 270px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.header__navButtons{
  display: flex;
  justify-content: center;
}
.header__navButtons__connexion {
 margin-top: 210px;
 margin-right: 20px;
}
.header__container__accroche{
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 30px;
}

.header__navButtons__creerCompte{
  margin-top: 210px;
margin-left: 20px;
}

.header_container__accroche__title{
  font-weight: bold;
  }

.header_container__text{
  width: 80%;
  font-size: 1.2em;
}

.body__image{
  background-image: url("../../../assets/tablette.jpg");
  width: 100%;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.body__container__col{
text-align: center;
  font-size: 1.2em;
}
.body__container{
  margin-bottom: 300px;
}
