<div class="header__image"></div>

<div class="group__container">
  <label class="group_label">Mon Groupe : </label>

  <div class="create-group" *ngIf="ownerHasNoGroup; else ownerHasGroup">
    <p class="group_text">Vous n'avez pas de groupes, remplissez le champ ci-dessous pour en ajouter un : </p>
    <div class="group__createGroup">
      <div class="group__createGroup__input">
        <mat-form-field>
          <input matInput placeholder="Entrer le Nom du Groupe" [formControl]="nom" name="nom" required />
          <mat-error *ngIf="nom.invalid">{{ getGroupeEmptyErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
    <button *ngIf="nom.invalid" class="group_button" color="primary" mat-raised-button disabled>Créer Groupe</button>
    <button *ngIf="nom.valid" class="group_button" (click)="createGroup()" color="primary" mat-raised-button>Créer Groupe</button>
  </div>
  </div>
<ng-template #ownerHasGroup>
  <div class="groupOwner__container" >
    <app-group-item><!--{{groupOwner}}--> tata</app-group-item>
  </div>
</ng-template>





</div>

<div class="Groups__container">
  <label class="Groups_label">Mes autres Groupes : </label>
  <mat-nav-list #groups>
    <mat-list-item *ngFor="let group of Groups">
      <app-group-item><!--{{group}}--></app-group-item>
    </mat-list-item>
  </mat-nav-list>
</div>

