.header__image {
  display: block;
  margin: auto 0;
 align-items: center;
  background-image: url("../../../assets/groups.jpg");
  background-repeat: no-repeat;
  background-position: top center;
border-radius: 20px;

  height: 300px;
}
.group__container{
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 30px;
  flex-flow: column;

}
.group__createGroup{
  display: flex;
  align-items: center;
  justify-content: center;
}
.group__createGroup__input{
  display: flex;
flex-flow: column;

}
.group_text{
  text-align: center;
}
.group_button{
  margin: 10px;
  border: 1px solid black;
  border-radius: 2px;
}
.group_input{
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px;
 text-align: center;
  width: 300px;
}

///////Labels//////
.group_label{
  font-weight: bold;
}
.Groups_label{
  font-weight: bold;
}


.groupeCard {
  margin: 10px;
  cursor: pointer;
  h1 {
    font-weight: 400;
    text-align: center;
  }
}

.spinnerCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.initSpinner {
  margin: 40px;
}
