.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  margin-top: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-form > * {
  width: 100%;

}

.login-form-message {
  height: 10px;
  margin: 10px 0;
  color: red;
}

.login-form-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-form-button {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
