.noContactSelected {

  align-items: center;
  justify-content: center;
}

.selectedContactContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;

  border-radius: 1em;
  h1 {
    font-weight: 400;
  }

  .selectedContact {
    flex: auto;
    display: flex;
    flex-direction: column;

    .contact {
      display: flex;


      .gravatar {
        border: 3px solid;
        padding: 0;
        margin: 0;
        width: 77px;
        height: 77px;

        img {
          width: 74px;
          height: 74px;
        }
      }

      .name-profil {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: auto;
        padding-left: 10px;

        .name {
          font-weight: 400;
          margin: 0;
        }

        .profil {
          font-weight: 400;
          margin: 0;
        }

      }
    }

    .details {
      flex: auto;
    }
  }


}


