<mat-toolbar class="navbar">
  <span class="spacing"></span>

  <div class="logo">
    <img class="logoImg" src="../../../assets/logo.png" alt="gravatar"/>
    <a class="logoLink" [routerLink]="path_home">{{config.appName}}</a>
  </div>

  <span class="spacing"></span>


  <div class="userPanel" *ngIf="authService.isAuthenticated">
    <div class="userInfos">
      <div class="nameSurname">{{ userInfos.contact.prenom }} {{ userInfos.contact.nom }}</div>
      <div class="groupName">{{ userOwnedGroup.nom }}</div>
    </div>

    <button class="menuBtn" [style.border-color]="userInfos.contact.profil.couleur" [matMenuTriggerFor]="menu">
      <img src="{{ userInfos.contact.gravatar }}" alt="gravatar"/>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="path_profil">
        <mat-icon>settings</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item [routerLink]="path_groupes">
        <mat-icon>swap_horiz</mat-icon>
        <span>Groupes</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </div>


</mat-toolbar>
