.createContact-container {
  display: flex;
  justify-content: center;
  margin-top : 100px;
}

.createContact-form {
  margin: 0 auto;
  width: 700px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.createContact-form > * {
  width: 100%;
}

.createContact-form-message {
  margin-top: 25px;
  color: red;
  display: flex;
  justify-content: center
}

.createContact-form-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.createContact-form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 450px;
}

.createContact-form-col > * {
  padding-top: 7px;
  padding-bottom: 7px;
}

.createContact-form-button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 100px;
  text-align: right;
}

.titre{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font: 2em sans-serif;
}

