/* You can add global styles to this file, and also import other style files */


body {
  background-color: #F7F7F7;
  color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
