<div class="update-mdp-container">
  <form class="update-mdp-form-form" (submit)="updatePwd()">
    <div class="update-mdp-title">Réinitialiser le mot de passe</div>
    <div>
      <div class="update-mdp-form-row">
        <label>Password : &nbsp;</label>
        <mat-form-field>
          <input matInput placeholder="Saisir password" [type]="hide ? 'password' : 'text'"
                 [formControl]="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
      <div class="update-mdp-form-row">
        <label>Confirm password : &nbsp;</label>
        <mat-form-field>
          <input matInput placeholder="Confirmer password" [type]="hide ? 'password' : 'text'"
                 [formControl]="newPassword" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="newPassword.invalid">{{ getPasswordConfirmationErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
      <div class="update-mdp-form-button">
        <button *ngIf="(password.valid && password.value == newPassword.value )" type="submit" mat-raised-button color="primary">Valider</button>
        <button *ngIf="(password.invalid)" type="submit" mat-raised-button color="primary" disabled>Valider</button>
      </div>
    </div>
  </form>
</div>
